:root {
  --lighter: #B9B9B9;
  --light: #989898;
  --dark: #717170;
  --darker: #4D4D4D;
  --black: #1A1919;
  --background: #FFFFFF;

  --title-font-size: 1.5625rem;

  --main-font-family: 'Literata', serif;
  --secundary-font-family: 'Oswald', sans-serif;
  --optional-font-family: 'Didact Gothic', sans-serif;
}

body {
  scroll-behavior: smooth;
  margin: 0;
  font-family: var(--main-font-family);
  background-color: var(--background);
}

i.fas {
  display: block;
}

.services__container {
  background-color: var(--dark);
  color: white;
}

.services__list {
  display: flex;
  justify-content: space-between;
  padding: 2rem;
  text-align: center;
}

.services__title{
  color: var(--lighter);
  font-size: var(--title-font-size);
  text-transform: uppercase;
  letter-spacing: 0.0625rem;
}

.service__description {
  align-self: center;
  white-space: pre-line;
}

section {
  margin: 1rem;
  position: relative;
  overflow: hidden;
}

section:first-child {
  height: calc(100vh - 2rem);
}

section:first-child .container {
  height: calc(100% - 2rem);
}

.container {
  padding: 1rem;
}

.diagonal-mark {
  position: absolute;
  bottom: 5rem;
  left: -8rem;
  transform: rotate(60deg);
  width: 21rem;
  height: 4rem;
  border-top: 1rem solid var(--darker);
}

.home__container {
  display: flex;
  flex-direction: column;
  align-self: center;
  justify-content: center;
  text-align: center;
  background-color: var(--lighter);
}

.home__name {
  color: var(--darker);
  font-size: 3.125rem;
  font-family: var(--optional-font-family);
  text-transform: uppercase;
  letter-spacing: 0.25rem;
}

.home__job {
  font-family: var(--secundary-font-family);
  letter-spacing: 2rem;
  font-size: 5.625rem;
  text-transform: uppercase;
}

.home__dot-job {
  position: absolute;
  width: fit-content;
  letter-spacing: 0;
}

.home__arrow {
  position: absolute;
  bottom: 12.5rem;
  width: 2.5rem;
  height: 2.5rem;
  align-self: center;

  border-right: 0.125rem solid;
  border-bottom: 0.125rem solid;
  border-color: var(--dark);

  animation: bounce 1s;
  animation-direction: alternate;
  animation-iteration-count: infinite;

  cursor: pointer;
}

@keyframes bounce {
  from {
    transform: translate(0, 0) rotate(45deg);
  }
  to {
    transform: translate(0, 6rem) rotate(45deg);
  }
}

.bio__container {
  background-color: var(--light);
}

.bio__data {
  padding: 1rem 2rem;
  display: flex;
  flex-direction: row;;
}

.bio__title {
  color: var(--lighter);
  font-size: var(--title-font-size);
  text-transform: uppercase;
  letter-spacing: 0.0625rem;
}

.bio__name {
  letter-spacing: 0.1875rem;
  text-transform: uppercase;
  font-family: var(--secundary-font-family);
  font-size: 3.125rem;
  line-height: 3.125rem;
}

.bio__description {
  align-self: center;
  white-space: pre-line;
}

.bio__photo {
  width: 18.75rem;
  margin-right: 3.125rem;

  border-radius: 50%;
  border: 0.5rem solid var(--darker);
}