:root {
  --grey-lighter: #B9B9B9;
  --grey-light: #989898;
  --grey-dark: #717170;
  --grey-darker: #4D4D4D;
  --black: #1A1919;
  --background: #FFFFFF;

  --title-font-size: 1.5625rem;

  --main-font-family: 'Literata', serif;
  --secundary-font-family: 'Didact Gothic', sans-serif;
}

body {
  margin: 0;
  font-family: var(--main-font-family);
  background-color: var(--background);
}

i.fas {
  display: block;
}

.services__container {
  background-color: var(--grey-dark);
  color: white;
}

.services__list { 
  display: flex;
  justify-content: space-between;
  padding: 2rem;
  text-align: center;
}

.services__title{
  color: var(--grey-lighter);
  font-size: var(--title-font-size);
  text-transform: uppercase;
  letter-spacing: 0.0625rem;
}

.service__description {
  align-self: center;
  white-space: pre-line;
}

.section {
  margin: 1rem;
}

.container {
  padding: 1rem;
}

.bio__container {
  background-color: var(--grey-light);
}

.bio__data {
  padding: 1rem 2rem;
  display: flex;
  flex-direction: row;
}

.bio__title {
  color: var(--grey-lighter);
  font-size: var(--title-font-size);
  text-transform: uppercase;
  letter-spacing: 0.0625rem;
}

.bio__name {
  letter-spacing: 0.1875rem;
  text-transform: uppercase;
  font-family: var(--secundary-font-family);
  font-size: 3.125rem;
  line-height: 3.125rem;
}

.bio__description {
  align-self: center;
  white-space: pre-line;
}

.bio__photo {
  width: 18.75rem;
  margin-right: 3.125rem;

  border-radius: 50%;
  border: 0.5rem solid var(--grey-darker);
}